@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  color: $gray-dark;
  font-family: 'Nunito';
  font-size: 18px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}