@keyframes fade-and-zoom {
  from {
    opacity: 0;
    transform: perspective(1vw)
               translateZ(-0.2vw);
  }

  to {
    opacity: 1;
    transform: perspective(1vw)
               translateZ(0);
  }
}

.c-hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  padding-top: 10vw;
  background-color: $orange;
  background-image: url("data:image/svg+xml,<svg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'><path fill='white' fill-opacity='0.1' d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /></svg>"), radial-gradient(1028.00px at 50% 0%, $orange-light 0%, $orange 100%);
}

.c-hero__image {
  opacity: 0;
  width: 15.4vw;
  margin-right: -2.2vw;
  animation: fade-and-zoom $normal ease-out $slow both;
}

.c-hero__header {
  color: white;
  font-size: 14vw;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
  animation: fade-and-zoom $normal ease-out;
}