.c-samples {
  padding: 3rem 1rem;
}

.c-samples__header {
  text-align: center;
  margin-bottom: 2rem;

  &::before {
    content: '/* ';
  }

  &::after {
    content: ' */';
  }
}

.c-samples__container {
  flex-wrap: wrap;

  @include for-tablet-portrait-up {
    display: flex;
  }
}

.c-samples__column {
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;

  @include for-tablet-portrait-up {
    width: 50%;
  }

  @include for-tablet-landscape-up {
    width: 25%;
  }
}

.c-samples__link {
  text-decoration: none;

  &:hover .c-samples__thumbnail {
    filter: saturate(1);
  }
}

.c-samples__thumbnail {
  filter: saturate(0.5);
  transition: filter $normal;
}

.c-samples__title {
  color: $orange;
  font-size: 1rem;
  margin-top: 0;
  transition: font-size $quick;

  @include for-tablet-portrait-up {
    font-size: 0.9rem;
  }

  @include for-tablet-landscape-up {
    font-size: 0.8rem;
  }
}