@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nunito';
  font-size: 18px;
}

img {
  max-width: 100%;
}